@charset "utf-8";

/* ===================================================
	style 변수 정리
====================================================*/
$pointClr: #FA7D38;
$blackClr: #171717;
$readonlyClr: #686868;
$readonlybg: #f1f1f1;
$placeholderClr: #8a8a8a;

$clr68: #686868;
$clrRed: #EC1E1E;

$frameSize: 375px;